# ======================================================================================================================
# Docker - Docker-Compose                                                   https://docs.docker.com/compose/compose-file
# ======================================================================================================================
# >>>> Dev Environment                                         https://docs.docker.com/compose/compose-file/05-services/

# ----------------------------------------------------------------------------------------------------------------------
# Base
# ----------------------------------------------------------------------------------------------------------------------
services:
  # >>>> Cache - Redis                                                                    https://hub.docker.com/_/redis
  redis:
    profiles: ["core", "cache"]
    container_name: ${DOCKER_PROJECT_NAME}-redis-${DOCKER_ENVIRONMENT}
    build:
      context: .
      dockerfile: scripts/containers/dev/cache/redis/Dockerfile
      args:
        - VERSION=${REDIS_VERSION:-7.0}
    env_file:
      - scripts/containers/dev/cache/redis/.env
    networks:
      - back-end
    expose:
      - 6379/tcp
    ports:
      - 127.0.0.1:${REDIS_LOCALHOST_PORT}:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - redis_volume:/data
    command: >
      redis-server
      --save 900 1
      --save 300 10
      --maxmemory 768mb
      --maxmemory-policy allkeys-lru
      --lazyfree-lazy-eviction yes
      --loglevel warning
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2048M
        reservations:
          memory: 1024M
    restart: unless-stopped

  # >>>> Database - PostgreSQL                                                         https://hub.docker.com/_/postgres
  postgres:
    profiles: ["core", "database"]
    container_name: ${DOCKER_PROJECT_NAME}-postgres-${DOCKER_ENVIRONMENT}
    build:
      context: .
      dockerfile: scripts/containers/dev/database/postgres/Dockerfile
      args:
        - VERSION=${POSTGRES_VERSION:-16}
      shm_size: 512mb
    env_file:
      - scripts/containers/dev/database/postgres/.env
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-app}
      - POSTGRES_USER=${POSTGRES_USER:-symfony}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-!ChangeMe!}
    networks:
      - back-end
    expose:
      - 5432/tcp
    ports:
      - 127.0.0.1:${POSTGRES_LOCALHOST_PORT}:5432
    healthcheck:
      test:
        [
          "CMD",
          "pg_isready",
          "-d",
          "${POSTGRES_DB:-app}",
          "-U",
          "${POSTGRES_USER:-symfony}",
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 60s
    volumes:
      - type: volume
        source: postgres_volume
        target: /var/lib/postgresql/data
        volume:
          nocopy: true
    labels:
      com.symfony.server.service-prefix: "DATABASE"
    command: >
      postgres
      -c shared_buffers=512MB
      -c work_mem=16MB
      -c maintenance_work_mem=128MB
      -c effective_cache_size=1536MB
      -c random_page_cost=1.1
      -c effective_io_concurrency=200
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 4096M
        reservations:
          memory: 2048M
    restart: unless-stopped

  # >>>> Message - RabbitMQ                                                            https://hub.docker.com/_/rabbitmq
  rabbitmq:
    profiles: ["core", "message"]
    container_name: ${DOCKER_PROJECT_NAME}-rabbitmq-${DOCKER_ENVIRONMENT}
    build:
      context: .
      dockerfile: scripts/containers/dev/message/rabbitmq/Dockerfile
      args:
        - VERSION=${RABBITMQ_VERSION:-3.13}
    env_file:
      - scripts/containers/dev/message/rabbitmq/.env
    environment:
      - RABBITMQ_DISK_FREE_LIMIT=1GB
    networks:
      - back-end
    expose:
      - 5672/tcp
      - 15672/tcp
    ports:
      - 127.0.0.1:${RABBITMQ_LOCALHOST_PORT}:5672
      - 127.0.0.1:${RABBITMQ_WEBSITE_PORT}:15672
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2048M
        reservations:
          memory: 1024M
    restart: unless-stopped

  # >>>> Utility - PgAdmin                                                       https://hub.docker.com/r/dpage/pgadmin4
  pgadmin:
    profiles: ["utility"]
    container_name: ${DOCKER_PROJECT_NAME}-pgadmin-${DOCKER_ENVIRONMENT}
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
      - PGADMIN_LISTEN_ADDRESS=0.0.0.0
      - GUNICORN_THREADS=4
      - GUNICORN_WORKERS=2
      - PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION=False
      - PGADMIN_CONFIG_UPGRADE_CHECK_ENABLED=False
      - PGADMIN_CONFIG_CONSOLE_LOG_LEVEL=30
    networks:
      - back-end
    expose:
      - 80/tcp
    ports:
      - 127.0.0.1:${PGADMIN_WEBSITE_PORT}:80
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1024M
        reservations:
          memory: 512M
    restart: unless-stopped

  # >>>> Tools - Kafka


# ----------------------------------------------------------------------------------------------------------------------
# Networks                                                     https://docs.docker.com/compose/compose-file/06-networks/
# ----------------------------------------------------------------------------------------------------------------------
networks:
  back-end:
    driver: bridge
    internal: false
    enable_ipv6: false

# ----------------------------------------------------------------------------------------------------------------------
# Volumes                                                       https://docs.docker.com/compose/compose-file/07-volumes/
# ----------------------------------------------------------------------------------------------------------------------
volumes:
  redis_volume: {}
  postgres_volume: {}
